/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
html{scroll-behavior:smooth}
#consejo-directivo, #certificacion-iso, #ODS, #encuesta-satisfaccion, #codigo-etica, #desarrollo-humano, #condiciones-covid, #generacion-empleo, #rsds, #jovenes, #turismo, #economias-regionales, #comercio, #industria, #medio_ambiente, #parques-industriales, #financiamiento, #capacitacion, #alianzas, #mujeres, #rondas {
  scroll-margin-block-start: 4rem;
}

.resaltado {
  padding: 3rem;
  background: #f3f3f3;
  border: 1px solid #cecece;
  border-radius: 0.5rem;
  text-align: center;
}

.resaltado p {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 800;
}
.resaltado li {
  font-size: 1.25rem;
  font-weight: 800;
}
.resaltado li i {
  margin-right: 1.5rem !important;
}
.sub-menu-container {
  margin-left: 0rem !important;
}
.container ul {
  margin-left: 1.5rem;
}

.sub-menu-container .menu-item > .menu-link {
  padding: 10px 0px;
}
.sub-menu-container .menu-item:hover > .menu-link {
  padding-left: 2px;
}

.titulo-seccion {
  font-size: 4rem;
  margin: 0;
}

.arr-izk {
  position: absolute;
  top: 0;
  left: 0;
}
.arr-der {
  position: absolute;
  top: 0;
  right: 0;
}
.ab-izk {
  position: absolute;
  bottom: 0;
  left: 0;
}
.ab-der {
  position: absolute;
  bottom: 0;
  right: 0;
}

.titulo-seccion {
  z-index: -1;
  -webkit-animation: 1s ease 0s normal forwards 1 fadein;
  animation: 1s ease 0s normal forwards 1 fadein;
  max-width: 880px;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bloque-titulo {
  margin: 0;
  font-size: 1.3rem;
  line-height: 2rem !important;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.bloque-bajada {
  font-size: 1rem;
  line-height: 1.25rem !important;
  font-family: "Poppins", sans-serif;
}

.counter {
  font-size: 3.5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.underline--magical {
  font-size: 2rem;
  text-align: left;
  /* padding: 0.25rem 10rem 0rem 0.25rem; */
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 50% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  -webkit-transition: background-size 0.25s ease-in;
  -moz-transition: background-size 0.25s ease-in;
  -ms-transition: background-size 0.25s ease-in;
  -o-transition: background-size 0.25s ease-in;
}
.underline--magical:hover {
  background-size: 50% 88%;
}

.subtitulo--magical {
  width: auto;
  text-align: left;
  /* padding: 0rem 10rem 0rem 0rem; */
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 20% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  -webkit-transition: background-size 0.25s ease-in;
  -moz-transition: background-size 0.25s ease-in;
  -ms-transition: background-size 0.25s ease-in;
  -o-transition: background-size 0.25s ease-in;
}
.subtitulo--magical:hover {
  background-size: 20% 88%;
}

.portada {
  min-height: 360px;
}
.arr-der img {
  max-width: 100%;
  max-height: 350px;
}
.arr-izk img {
  width: 100%;
}

/* COLORES SECCIONES */

.sobre-reporte {
  color: #5a90d2;
  background-image: linear-gradient(120deg, #d6e3f4 0%, #fff 100%);
  padding-left: 10px;
}
.sobre-reporte.portada {
  background: #5a90d2;
 
}

.materialidad {
  color: #009fe3;
  background-image: linear-gradient(120deg, #dff3fc 0%, #fff 100%);
}
.materialidad.portada {
  background: #009fe3;
 
}

.gobernanza {
  color: #6099bf;
  background-image: linear-gradient(120deg, #a0c2d8 0%, #fff 100%);
}
.gobernanza.portada {
  background: #6099bf;
  
}

.estandares-laborales {
  color: #f39d46;
  background-image: linear-gradient(120deg, #fce7d1 0%, #fff 100%);
}
.estandares-laborales.portada {
  background: #f39d46;
 
}

.medio-ambiente {
  color: #54bc89;
  background-image: linear-gradient(120deg, #d4eee2 0%, #fff 100%);
}
.medio-ambiente.portada {
  background: #54bc89;
}

.desarrollo-comunidad {
  color: #7c6a92;
  background-image: linear-gradient(120deg, #dedae4 0%, #fff 100%);
}
.desarrollo-comunidad.portada {
  background: #7c6a92;
 
}

.proximos-desafios {
  color: #f7e368;
  background-image: linear-gradient(120deg, #fdf8d9 0%, #fff 100%);
}
.proximos-desafios.portada {
  background: #f7e368;
 
}

.nuevas-comisiones{
  color: #1298b7;
  background-image: linear-gradient(120deg, #82cdde 0%, #fff 100%);
}
.nuevas-comisiones.portada {
  background: #1298b7;
 
}

.table tr th {
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
  text-align: center;
}
.table tr td {
  text-align: left;
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
}
.table {
  border: 1px solid #f2f2f2;
}

.card img {
  width: 50%;
  margin-left: 25%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.card h3 {
  text-align: center;
}

.card p {
  text-align: justify;
}

/* TAPA */
.slider-title {
  /* margin-top: 7rem; */
  background-image: url("../images/fondo_1956.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 100% 0%;
}
#sl-titulo {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 3.5rem;
  color: #1e6451;
  text-transform: uppercase;
}
#sl-titulo-2020 {
  color: #1e6451;
}

#sl-1956 {
  font-size: 1.7rem;
  line-height: 1.9rem;
  font-weight: 400;
  color: #fff;
  padding-top: 0.25rem;
  padding-right: 0.5rem;
  height: 3rem;
}
#sl-came {
  width: 13vw;
  position: absolute;
  left: 1vw;
  bottom: 3vh;
}
#sl-back-izk {
  width: 20vw;
  position: fixed;
  left: 0px;
  bottom: 0px;
}
#sl-back-der {
  height: 101vh;
  position: fixed;
  right: 0px;
}
#sl-mundito {
  width: 100vw;
  bottom: 0;
  left: 0;
  position: absolute;
}
#sl-fondo {
  width: 100vw;
  position: absolute;
}

/* TAPA MEDIA QUERIES */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .widget p{
    line-height: 1.1;
  }
  .underline--magical{
    background: none;
    font-size: 1.5rem;
  }
  #logo_CAME img{
max-width: 50vw;
  }
  .no_celu{
    display: none;
  }
  #video-rsds{
    max-width: 100vw !important;
  }
  .flip-card-inner{
    padding: 0;
  }
  #sl-fondo {
    display: none;
  }
  #sl-mundito {
    width: 100vw;
    bottom: 0;
    left: 0;
  }
  #sl-back-der {
    right: -55%;
    top: 0%;
  }
  #sl-1956 {
    font-size: 1rem;
    line-height: 1.1rem;
    margin-bottom: 1rem;
  }
  #sl-titulo {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .slider-title {
/*     margin-top: 40%;
 */    text-align: right;
    background-image: url(../images/fondo_1956.png);
    background-position: 100% 2%;

    background-size: 75%;
    
  }
  #sl-back-izk {
    width: 38%;
    position: fixed;
    left: 0;
    bottom: 0;
  }
  #sl-came {
    width: 33%;
    position: absolute;
    left: 1%;
    bottom: 1%;
  }
  .titulo-seccion {
    font-size: 2rem;
    line-height: 2.25rem;
  }
  .portada{
    min-height: 240px;
  }
  .arr-der img{
    max-height: 230px;
    
  }
  .arr-izk img{
    display: none;    
  }
  #sl-fondo{
    display: none;
  }
 

}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  .no_celu{
    display: none;
  }
 

  #sl-mundito {
    width: 100vw;
    bottom: 0;
    left: 0;
  }
  #sl-back-der {
    right: -45%;
    top: 0%;
  }
  #sl-1956 {
    font-size: 1.2rem;
    line-height: 1rem;
    margin-bottom: 0.25rem;
  }
  .slider-title {
/*     margin-top: 40%;
 */    text-align: right;
  }
  #sl-back-izk {
    width: 38%;
    position: fixed;
    left: 0;
    bottom: 0;
  }
  #sl-came {
    width: 33%;
    position: absolute;
    left: 1%;
    bottom: 1%;
  }
  .titulo-seccion {
    font-size: 3rem;
  }
  #sl-titulo-2020{
    font-size: 6rem;
    line-height: 6.5rem;
  }
  #sl-1956{
    font-size: 1.2rem;
    line-height: 1rem;
  }
  .slider-title {
/*     margin-top: 20%;
 */    text-align: right;
    width: 80%;
    background-size: 75%;
  }
 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .no_celu{
    display: none;
  }

  #sl-mundito {
    width: 100vw;
    bottom: 0;
    left: 0;
  }
  #sl-back-der {
    right: -35%;
    top: 0%;
  }

  .slider-title {
/*     margin-top: 40%;
 */    text-align: right;
    background-size: 80%;
  }
  #sl-back-izk {
    width: 38%;
    position: fixed;
    left: 0;
    bottom: 0;
  }
  #sl-came {
    width: 28%;
    position: absolute;
    left: 1%;
    bottom: 1%;
  }
  .titulo-seccion {
    font-size: 3rem;
  }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .no_celu{
    display: block;
  }
  #sl-mundito {
    width: 100vw;
    bottom: 0;
    left: 0;
  }
  #sl-back-der {
    right: -20%;
    top: 0%;
  }
  .slider-title {
/*     margin-top: 20%;
 */    text-align: right;
    width: 80%;
    background-size: 80%;
  }
  
  #sl-back-izk {
    width: 31%;
    position: fixed;
    left: 0;
    bottom: 0;
  }
  #sl-came {
    width: 24%;
    position: absolute;
    left: 1%;
    bottom: 1%;
  }
  .counter {
    font-size: 2.5rem;
  }
  .titulo-seccion {
    font-size: 4rem;
  }
  #sl-1956{
    font-size: 1.2rem;
    line-height: 1rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
  #sl-mundito {
    width: 100vw;
    bottom: 0;
    left: 0;
  }
  #sl-back-der {
    right: -15%;
    top: 0%;
  }

  #sl-back-izk {
    width: 25%;
    position: fixed;
    left: 0;
    bottom: 0;
  }
  #sl-came {
    width: 20%;
    position: absolute;
    left: 1%;
    bottom: 1%;
  }
  .titulo-seccion {
    font-size: 4rem;
  }
  #sl-1956{
    font-size: 1.2rem;
    line-height: 1rem;
  }
  .slider-title {
/*     margin-top: 20%;
 */    text-align: right;
    width: 80%;
    background-size: 70%;
  }
}

/* 1600 o más */
@media only screen and (min-width: 1600px) {
  #sl-mundito {
    width: 100vw;
    bottom: 0;
    left: 0;
  }

  #sl-back-der {
    right: -10%;
    top: 0%;
  }
  #sl-titulo {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  #sl-titulo-2020 {
    font-size: 7rem;
    line-height: 8.5rem;
  }
  #sl-back-izk {
    width: 20%;
    position: fixed;
    left: 0;
    bottom: 0;
  }
  #sl-came {
    width: 13%;
    position: absolute;
    left: 1%;
    bottom: 1%;
  }
  .counter {
    font-size: 3rem;
  }
  .titulo-seccion {
    font-size: 4rem;
  }
  #sl-1956{
    font-size: 1.2rem;
    line-height: 1rem;
  }
  .slider-title {
/*     margin-top: 20%;
 */    text-align: right;
    width: 80%;
    background-size: 55%;
  }
}

/* 1700 o más */
@media only screen and (min-width: 1700px) {
  #sl-mundito {
    width: 100vw;
    bottom: 0;
    left: 0;
  }
  #sl-back-der {
    right: -10%;
    top: 0%;
  }
  #sl-titulo {
    font-size: 3.5rem;
    
  }
  #sl-back-izk {
    width: 16%;
    position: fixed;
    left: 0;
    bottom: 0;
  }
  #sl-came {
    width: 13%;
    position: absolute;
    left: 1%;
    bottom: 1%;
  }
  .titulo-seccion {
    font-size: 3.5rem;
  }
  #sl-1956{
    font-size: 1.2rem;
    line-height: 1rem;
  }
  .slider-title {
/*     margin-top: 20%;
 */    text-align: right;
    width: 80%;
    background-size: 55%;
  }
}

/* Badge
-----------------------------------------------------------------*/
.badge {
	padding: 8px;
  font-size: 1em;
	margin-bottom: 15px;
	border-radius: 2px;
	font-weight: 500;
	line-height: .8;
}

.badge i{
  font-size: 1.1em;padding-right: 5px;
}

.badge-gobernanza {
	border: 1px solid  #005ca4;
	color:  #005ca4;
}
.badge.badge-ambiente {
	border: 1px solid  #007824;
	color:  #007824;
}
.badge.badge-comunidad {
	border: 1px solid  #7a00b3;
	color:  #7a00b3;
}
.badge.badge-estandares {
	border: 1px solid  #fE9603;
	color:  #fE9603;
}

.etiqueta{
  float: left;
  margin-right: 0.5em;
}
.etiqueta.etiqueta-gobernanza{
  color: #005ca4;
}



/* ODS Botones -----------------------------------------------------------------*/
.nav-pills .nav-item .nav-link {
	position: relative;
	padding: 0.5rem 0.5rem;
	opacity:  0.8;
}

.nav-pills .nav-item .nav-link.active::after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 12px transparent;
    border-left: solid 12px transparent;
    border-right: solid 12px transparent;
}

.nav-pills .nav-item .nav-link span {
	display: block;
}

.nav-pills .nav-item .nav-link:hover,
.nav-pills .nav-item .nav-link.active {
	opacity: 1;
}

.nav-pills img{
  width: 5rem;
  
}

/* ODS */
.ods-1 {
  background-color: #fac6cb !important;
}
.ods-2 {
  background-color: #f4e7ca !important;
}
.ods-3 {
  background-color: #c9e6d1 !important;
}
.ods-4 {
  background-color: #f0c7cc !important;
}
.ods-5 {
  background-color: #fbcfca !important;
}
.ods-8 {
  background-color: #e3c5cd !important;
}
.ods-9 {
  background-color: #fcdbc9 !important;
}
.ods-10 {
  background-color: #f8c4e0 !important;
}
.ods-11 {
  background-color: #fee7c9 !important;
}
.ods-12 {
  background-color: #f3e3ca !important;
}
.ods-13 {
  background-color: #d1ddcf !important;
}
.ods-16 {
  background-color: #c0d5e2 !important;
}
.ods-17 {
  background-color: #c5cdd9 !important;
}


.nav-pills .nav-item .nav-link.ods-1::after {
  border-top-color: #fac6cb;
}
.nav-pills .nav-item .nav-link.ods-2::after {
  border-top-color: #f4e7ca;
}
.nav-pills .nav-item .nav-link.ods-3::after {
  border-top-color: #c9e6d1;
}
.nav-pills .nav-item .nav-link.ods-4::after {
  border-top-color: #f0c7cc;
}
.nav-pills .nav-item .nav-link.ods-5::after {
  border-top-color: #fbcfca;
}
.nav-pills .nav-item .nav-link.ods-8::after {
  border-top-color: #e3c5cd;
}
.nav-pills .nav-item .nav-link.ods-9::after {
  border-top-color: #fcdbc9;
}
.nav-pills .nav-item .nav-link.ods-10::after {
  border-top-color: #f8c4e0;
}
.nav-pills .nav-item .nav-link.ods-11::after {
  border-top-color: #fee7c9;
}
.nav-pills .nav-item .nav-link.ods-12::after {
  border-top-color: #f3e3ca;
}
.nav-pills .nav-item .nav-link.ods-13::after {
  border-top-color: #d1ddcf;
}
.nav-pills .nav-item .nav-link.ods-16::after {
  border-top-color: #c0d5e2;
}
.nav-pills .nav-item .nav-link.ods-17::after {
  border-top-color: #c5cdd9;
}